.cardContainer {
    height: 100px;
    width: 100px;
    background-color:blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid plum;
    border-radius: 8px;
    margin: 8px;
  }