.headerContainer{
    height: 60px;
    background-color:#e546ab;
    border-radius: 5px;
}

.headerContainer nav{
    width: 100%;
}

.navList{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 15px;
}

.navList a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 30px;
}

.navList a:hover{
    background-color: #fff;
    color: #e546ab;
    padding: 5px 50px;
    border-radius: 7.5px;
}